
.wineimg{
  background-image: url('wineimg2.jpg');
  background-size: 75%;
  background-position: center;
  height: 7em;
  display: flex;
}

.top100{
  border-bottom: 1px black solid;
  display: flex;
  justify-content: center;
}
.wineSearch{
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: center;
}

.searchBar{
  width: 36em;
  font-size: 22px;
  margin-bottom: 2em;
}

.main{
  /* background-color: rgb(242,223,209); */
}

.table{
  border-spacing: 0;
  border-collapse: collapse;
  margin: 0 auto;
  width: 65%;
  font-size: 22px;
}

.table tr:nth-child(even) {
  background-color: rgb(242,223,209);
}

.mainWineRow{
  border-bottom: solid black 1px;
  color: rgb(152, 25, 29)
}
/* .wineRow{
  border-bottom: solid black 1px;
} */

.modal{
  display: none;
  background-color: rgb(251,251,231);;
  width:45%;
  border-radius: 4px;
  margin: 0;
  position: fixed;
  top: 50%;
  left: 70%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: rgb(50, 39, 19) 1px solid;
  border-radius: 11px;
  padding: 1em;
  color: rgb(50, 39, 19);
  box-shadow: 5px 10px rgb(50, 39, 19);
}

.modal-background {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* background: rgba(0, 0, 0, 0.4);*/
  z-index: 10; 
}

.open-modal{
  display:block;
  z-index: 10;
}

.wineModal{
  display : flex;
  flex-direction: column;
  align-items: center;
}