
.top{
  display: flex;
  justify-content: center;
}

.wineimg{
   background-image: url('wineimg2.jpg');
  background-size: 106%;
  background-position: center;
  height: 15em;
  display: flex;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: center;
}

.top100{
  font-size: 43px;
}


.button{
  position: relative;
  left: -41%;
  background: white;
  border: none;
  font-size: 11px;
}

.button:hover{
  cursor: pointer
}

.searchBar{
  position: relative;
  right: 25%;
  margin-top: 27%;
}

.topRow{
  border-bottom: 1px black solid;
}

.wineColumn{
  position: relative;
  right: 35%;
  }

  #winenamecolumn{
    padding-left: 4%;
  }


.main{
  /* background-image: url('wineback.jpg');
  background-size: 100%; */
  padding-top: 4em;
}

.table{
  border-spacing: 0;
  border-collapse: collapse;
  margin: 0 auto;
  width: 59%;
  font-size: 22px;
  position: relative;
  left: 10%;
}

.table tr:nth-child(even) {
  background-color: rgb(242,223,209, .5);
}

.mainWineRow{
  /* border-bottom: solid black 1px; */
  color: rgb(152, 25, 29);
}
/* .wineRow{
  border-bottom: solid black 1px;
} */

.modal{
  display: none;
  background-color: rgb(242,223,209);;
  width:22%;
  border-radius: 4px;
  margin: 0;
  position: fixed;
  top: 50%;
  left: 13%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: rgb(50, 39, 19) 1px solid;
  border-radius: 11px;
  padding: 1em;
  color: rgb(161, 80, 82);
  box-shadow: 5px 10px rgb(50, 39, 19);
}

.modal-background {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* background: rgba(0, 0, 0, 0.4);*/
  z-index: 10; 
}

.open-modal{
  display:block;
  z-index: 10;
}

.wineModal{
  display : flex;
  flex-direction: column;
  align-items: center;
}